In [1]:
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
datapath = ('/Users/jasonpaik9/Documents/Thinkful/Bootcamp/Unit 3/recipe/epi_r.csv')
data = pd.read_csv(datapath)

In [3]:
data.rating.describe()

count    20052.000000
mean         3.714467
std          1.340829
min          0.000000
25%          3.750000
50%          4.375000
75%          4.375000
max          5.000000
Name: rating, dtype: float64

In [7]:
data1 = data

In [12]:
data1 = data1.drop(columns=['title','calories','protein','fat','sodium'])

In [10]:
data1['ratingBinary'] = data1['rating']
data1.loc[data.rating >= 3.76, 'ratingBinary'] = 1
data1.loc[data.rating < 3.76, 'ratingBinary'] = 0

In [13]:
data1.head()

,rating,#cakeweek,#wasteless,22-minute meals,3-ingredient recipes,30 days of groceries,advance prep required,alabama,alaska,alcoholic,...,yogurt,yonkers,yuca,zucchini,cookbooks,leftovers,snack,snack week,turkey,ratingBinary
0,2.500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,4.375,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,3.750,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,3.125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
Y = data1.iloc[:,-1]
X = data1.loc[:, (data1.columns != 'ratingBinary')]
bestfeatures = SelectKBest(score_func=chi2, k=30)
fit = bestfeatures.fit(X,Y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(30,'Score'))  #print 10 best features

                 Specs        Score
0               rating  4172.478274
278     house & garden   168.736737
187              drink   130.854678
9            alcoholic   114.406372
58         bon appétit   100.806123
236                gin   100.128167
521              roast    87.120913
617       thanksgiving    83.703405
135     cocktail party    76.283693
180             dinner    67.082465
581             spirit    64.501838
125          christmas    56.284523
51             bitters    55.865868
575           soy free    51.798720
454        peanut free    50.641030
252     grill/barbecue    49.678538
344            low fat    46.345607
31        backyard bbq    43.456861
134           cocktail    41.317475
205               fall    36.940820
251              grill    35.906342
594  stuffing/dressing    35.891319
263      harpercollins    35.737446
447              pasta    35.436904
527                rum    34.444240
238        goat cheese    33.527695
625      tree nut free    29.899705
591           stir-fry    29.136072
635              vegan    28.338021
208       father's day    26.414178

In [32]:
data2 = data1[['rating','ratingBinary','house & garden','drink','alcoholic', 'bon appétit', 'gin','roast','thanksgiving',
                 'cocktail party','dinner','spirit','christmas','bitters','soy free','peanut free','grill/barbecue',
                 'low fat','backyard bbq','cocktail','fall','grill','stuffing/dressing','harpercollins','pasta',
                 'rum','goat cheese','tree nut free','stir-fry','vegan','father\'s day']].copy()

In [33]:
data2.head()

,rating,ratingBinary,house & garden,drink,alcoholic,bon appétit,gin,roast,thanksgiving,cocktail party,...,grill,stuffing/dressing,harpercollins,pasta,rum,goat cheese,tree nut free,stir-fry,vegan,father's day
0,2.500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4.375,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.750,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5.000,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,3.125,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0